.view-account-info{
    font-size: 24px;
    color: black;
    border-bottom: 3px solid black;
    padding-top: 10px ;
}
.order-info-box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.order-no-box{
    width: 40%;
    color: black;
}
.view-order-no{
    background-color: rgb(146, 146, 146);
    color: white;
    padding: 5px;  
}
.view-order-date{
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: black;
    border-bottom: 1px solid rgb(190, 190, 190);
    padding: 10px 0px;
}
.vew-inner-container{
    margin-top:50px; 
}
.items-order-table{
    width: 100%;

}
.items-order-table  th{
    border-bottom: 1px solid grey;
    padding-bottom: 10px;
}
.order-comment{
    width:100%;
    height: 70px;
}
.order-total-p{
    color: black;
    margin: 10px 0px 3px 0px ;
    font-weight: bold;
    text-transform: capitalize;
}
.total-status-dopdown{
    padding: 5px;
}
.total-submit-button{
    background-color: rgb(0, 21, 41);
    color: white;
    border: none;
    font-weight: bold;
    padding: 5px 10px 5px 10px;
    border-radius: 3px;
    margin-top: 10px;
}
.total-submit-button:hover{
    background-color: rgb(179, 178, 178);
    color: rgb(0, 0, 0);
    transition: 1s;
}
.item-order-table .ant-table-thead tr{
    background-color: rgb(146, 146, 146) !important;
}
